# Environment variables
.env
.env.production
.env.*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Angular
/frontend/node_modules/
/frontend/.angular/
/frontend/dist/
/frontend/tmp/
/frontend/.idea/
/frontend/.project
/frontend/.classpath
/frontend/.c9/
/frontend/*.launch
/frontend/.settings/
/frontend/*.sublime-workspace
/frontend/.vscode/*
/frontend/npm-debug.log
/frontend/yarn-error.log

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db 
.vercel
